html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.heder-bg {
    background:url(../images/header-bg.jpg);
    background-size: cover;
    height: 1000px;
}

.monserat-bold-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.monserat-regular-font {
    font-family: 'Montserrat', sans-serif;
    
}

.kaushanscript-font {
    font-family: 'Kaushan Script', cursive; 
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}

.white-font {
    color: white;
}

.logo {
    color: white;
    margin-top: 29px;
    font-size: 150%;
    float: left;
}

.nav {
    float: right;
     margin-top: 39px;
    font-size: 80%;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.nav li {
    float: left;
    margin-left: 55px;
    
    
}

.nav a {
    padding: 0px !important;
   
    display: block;
    color: inherit;
    padding-bottom: 11px !important;
   
}

.nav a:hover {
    color: yellow  !important;
    border-bottom: 2px solid yellow !important;
    background-color: transparent !important;
}




.nav .magnyfying {
    
    width: 18px;
    height: 16px;
    background: url(../images/MAGNIFYING-GLASS-LOGO.png) no-repeat;
    content: '';
    color: yellow;
}

.nav .shopping {
    
    width: 18px;
    height: 16px;
    background: url(../images/SHOPPING-CART-LOGO.png) no-repeat;
    content: '';
}

.nav .no-underline a:hover {
    border-bottom: 0px white !important;
    
}


.uppercase-and-big {
    text-transform: uppercase;
    font-size: 9.375em;
    font-size: 9.375em;
}

.uppercase{
    text-transform: uppercase;
}

.main-logo-text{
    margin-top: 50px;    
    line-height: 0.933;
    margin-bottom: 0 !important;
    
}

.second-main-text{
    
    font-size: 72px;
    margin-top:234px;
    
    line-height: 100%;
}

.hline{
    width: 60px;
    height: 3px;
    margin-top: 71px;
    
    background: white;

}

.hline-red{
    width: 60px;
    height: 3px !important;
    background: red;
    
    
   
}

.lern-more-field{
    font-size: 14px;
    border-style: solid;
    border-color: white;
    border-radius: 2px;
    
    width: 160px;
    height: 40px;
    
    margin-top: 50px;
    
    
    
}

.lern-more-field p{
    margin-top: 7px;
}

.down-menu {
    
    
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin-top: 144px !important;
    padding-left: 0px !important;
    font-size: 18px;
    bottom: 20px;
}

.down-menu-one {
    outline: 0;
    padding-right: -30px;
   
    display: block;
    color: inherit;
    padding-top: 23px !important;
    margin-bottom: 10px;
    text-decoration: none;
    border-top: 3px solid white !important;
    opacity: 0.5;
   
}

.down-menu a:hover {
    color: yellow  !important;
    background-color: transparent !important;
    text-decoration: none;
}

.activeted{
    opacity: 1 !important;
}


.text-24px{
    font-size: 1.5em;
}

.text-14px{
    font-size: 0.875em;
}

.text-72px{
    font-size: 4.5em;
}


.what-we-do-text{
    
    
    top: 37px;
    left: 50%;
    margin-left:-69.53px;/* half width*/
    position: absolute;
    
}

.what-we-do-text2{
    margin-top: 92px;
    
}

.story-about-us-text {
    text-transform: uppercase;
    padding-bottom: 39px;
    
}

.lorem-text {
    color: #999999;
    font-size: 15px;
    line-height: 1.6;
    padding-top: 45px;
    padding-bottom: 103px;
}

.gallery-margin{
    margin-bottom: 90px;   
}

.mol{
    margin-bottom: 20px;
}





.mol img{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
    width: 370px;
    margin: 0 auto;
}

.mol img:hover{
         box-shadow: 10px 10px 0px 1px rgba(149,225,211,1);
      -webkit-box-shadow: 10px 10px 0px 1px rgba(149,225,211,1);
      -moz-box-shadow: 10px 10px 0px 1px rgba(149,225,211,1);
}

.blue-bar{
    display: -webkit-flex;
    display: flex;
}

.blue-box{
    width: 240px;
    height: 270px;
    
    width: 240px;
    border-left: 1px solid white;
    
}

.blue-box:last-child {
    border-right: 1px solid white;
}

.blue{
    background: rgba(149,225,211,1); 
}

.blue-box-text{
    margin-top: 88px;
}